# Default ignored files
/shelf/
/workspace.xml
*.html
*.css
*.bak
*.xml
test_cases\report.html
.pytest_cache
__pycache__
*.log
.idea/
*.iml
*.xml
.idea/google_maps_project.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
